body{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    flex-direction:row;
    padding: 10%;
}
.firstbox{
  background-color: rgb(58, 19, 252);
  color:aliceblue;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.circle{
    font-size: x-large;
    height:150px;
    width: 150px;
    background-color: rgb(21, 21, 210);
    border-radius: 100%;
}
.secondbox{
    background-color: aliceblue;
    padding: 10px;
    width:300px;
    display:flex;
    flex-direction: column;
}
tr{
    border-radius:40px;
}
table,td{  
    border-radius: 10px;
    border-collapse: collapse;
    padding:10px;

}
button{
    height:30px;
    border: 0px;
    border-radius:20px;
    background-color: rgb(31, 31, 249);
}